.contact{
    margin: 3% 0;
    display: flex;
}

.contact p,
.contact h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact h3{
    font-weight: 400;
    font-size: 35px;
    color: #051263;
}

.contact .contact-form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.contact .contact-form p{
    width: 75%;
}

.contact .contact-form input,
.contact .contact-form textarea{
    display: flex;
    width: 80%;
    margin-top: 3%;
    border-radius: 10px;
    border: none;
    background-color: #CCC;
    outline: none;
    padding: 1%;
}

.contact .contact-form input[type=submit]{
    width: auto;
    padding: 1% 3%;
    background-color: #FF7A59;
    color: #FFF;
    transition: all .4s ease-in-out;
    margin: 2%;
}

.contact .contact-form input[type=submit]:hover{
    background-color: #ff967c;
}

.contact .contact-form textarea{
    height: 100px;
    resize: none;
}

.contact .contact-info h3{
    margin-bottom: 40%;
}

.contact .contact-info p{
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    padding: 2.5px;
    font-size: large;
}

.contact .contact-info a{
    font-size: 28px;
    color: #FF7A59;
    margin: 1% 9%;
}

.contact .contact-info a:hover{
    color: #ff967c;
}

@media (max-width: 891px){
    .contact{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contact .contact-form{
        margin-top: 10%;
        width: 100%;
    }

    .contact .contact-form p{
        width: 100%;
    }

    .contact .contact-form input,
    .contact .contact-form textarea{
        width: 100%;
    }

    .contact .contact-form input[type=submit]{
        margin: 5% auto;
    }

    .contact .contact-info{
        margin-top: 10%;
    }

    .contact .contact-info h3{
        margin-bottom: 5%;
    }

    .contact .contact-info p{
        width: 50%;
        margin: 6% auto;
    }

    .contact .contact-info a{
        font-size: 28px;
        color: #FF7A59;
        margin: 1% 2%;
    }
}